body
{
    background-color: RGB(96,26,24);
	background-image: url("images/background.jpg");
    color: white;
	width: 800px;
	padding: 5px;
	margin: auto;
	border: 1px solid yellow;
}
h1 {
	color: yellow;
}
nav
{
    display: flex;
    justify-content: space-between;
	border-top: 1px solid yellow;
	border-bottom: 1px solid yellow;
	margin: 0px 5px;
}
a
{
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
	color: goldenrod;
}
.copyright
{
    padding-top: 5px;
    color: white;
    clear: both;
	border-top: 1px solid yellow;
}
#map
{
    float: left;
    margin-right: 10px;
}
#outer
{
    border: 2px;
}
#center_column
{
    max-width: 800px;
    margin: auto;
}
div.gallery
{
    float: left;
}

.contactDiv
{
	padding-left: 20px;
	margin-top: 15px;
}

.commentField
{
	width: 95%;
	height: 150px;
	font-size: 20px;
	resize: none;
}

#headerContainer
{
	position: relative;
	text-align: center;
}

#userControls 
{
	position: absolute;
	top: 8px;
	right: 16px;
	color: yellow;
}
.accordion {
	background-color: goldenrod;
	color: black;
	font-weight: bold;
	font-size: 14pt;
	font-family: serif;
	cursor: pointer;
	padding: 8px;
	width: 50%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	margin: 1px;
  }
.active, .accordion:hover {
	background-color: yellow;
}
.panel {
	padding: 0 18px;
  
	display: none;
	overflow: hidden;
}
.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: black;
	float: right;
	margin-left: 5px;
  }
  
  .active:after {
	content: "\2796"; /* Unicode character for "minus" sign (-) */
  }