body
{
    background-color: RGB(96,26,24);
    color: white;
}
nav
{
    display: flex;
    justify-content: space-between;

}
a
{
    color: yellow;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
.copyright
{
    padding-top: 5px;
    color: white;
    clear: both;
}
#map
{
    float: left;
    margin-right: 10px;
}
#outer
{
    border: 2px;
}
#center_column
{
    max-width: 800px;
    margin: auto;
}
div.gallery
{
    float: left;
}
